

.flex{
    font-size:large;


    ul{
        display:flex;


        li {
            font-size: larger;
            padding: 10px;
            color: rgb(0, 0, 0);
            font-weight: 400;
        }
    }
}